<header class="header">
    <div class="container header-content">
      
      <div class="logo">
        <h1>CIEDE</h1>
      </div>
  
      <nav class="menu">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="quem-somos.html">Quem Somos</a></li>
          <li><a href="revista.html">Revista RIEDE</a></li>
          <li><a href="pesquisas.html">Pesquisa e Publicações</a></li>
          <li><a href="eventos.html">Eventos</a></li>
          <li><a href="parcerias.html">Parcerias</a></li>
          <li><a href="contato.html">Contato</a></li>
        </ul>
      </nav>
  
    </div>
  </header>
  